<div id = "twitter" class = "twitter-tweets">
  <div class="head"><h2>Twitter</h2></div>
    <div class="inner-block tweet">
      <table>
        <tbody>
          <tr>
            <td><div class="tweet-img"></div></td>
            <td>
              <p><span id="first_tweet"></span></p>
              <div id="first_tweet_days"></div>     
            </td>
          </tr>
        </tbody>
      </table>                     
    </div>
  <div class="horizontal-hr"></div>   
  <div class="inner-block tweet">
    <table>
      <tbody>
        <tr>
          <td><div class="tweet-img"></div></td>
          <td>
            <p><span id="second_tweet"></span></p>
            <div id="second_tweet_days"></div>     
          </td>
        </tr>
      </tbody>
    </table>                     
  </div>
</div>